<div class="container" *ngIf="currentUserMail; else loggedOut">
  <header class="jumbotron">
    <h3>
      Profil <strong>{{ currentUserRole }}a</strong>
    </h3>
  </header>
  <p>
    <strong>Email:</strong>
    {{ currentUserMail }}
  </p>
  <strong>Przypisane role:</strong>
  <ul>
    <li>
      {{ currentUserRole }}
    </li>
  </ul>
</div>
<div>
  <button *ngIf="currentUserRoleAdmin" nz-button nzType="primary" nzDanger [routerLink]="['/register']">Dodaj użytkownika</button>
</div>
<div class = "password-container">
  <nz-input-group>
    <input
      [type]="passwordVisible ? 'text' : 'password'"
      nz-input
      placeholder="Wprowadź stare hasło"
      [(ngModel)]="form.oldPassword"
    />
  </nz-input-group>
  <nz-input-group>
    <input
      [type]="passwordVisible ? 'text' : 'password'"
      nz-input
      placeholder="Wprowadź nowe hasło"
      [(ngModel)]="form.newPassword"
    />
  </nz-input-group>
  <button nz-button nzType="primary" (click)="save()">Zmień hasło</button>
  <div *ngIf="passwordError" class="alert alert-danger" role="alert">
    {{passwordError}}
  </div>
  <div *ngIf="passwordMessage" >
    {{passwordMessage}}
  </div>
</div>
  <form *ngIf="currentUserRoleAdmin" class="mt-4" (submit)="changeRequirePasswordLength()">
    <div class="input-group mb-3">
      <span class="input-group-text" id="basic-addon1">Długość hasła:</span>
      <input name="length" [(ngModel)]="passwordLengthForm.length" type="number" min="1" value="1" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
    </div>
    <div class="d-flex justify-content-center align-items-center">
    <button type="submit" class="btn btn-primary mx-auto">Zmień wymaganą długość hasła</button>
  </div>
  <div *ngIf="lengthError" class="alert alert-danger" role="alert">
    {{lengthError}}
  </div>
  <div *ngIf="lengthMessage" >
    {{lengthMessage}}
  </div>
  </form>
  <form *ngIf="currentUserRoleAdmin" class="mt-4">
    <p>Złożoność hasła:</p>
    <div class="form-check mb-3">
      <input (change)="changeDigitRequirement()" name="requireDigit" [(ngModel)]="passwordComplexityForm.requireDigit" class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
      <label class="form-check-label" for="flexCheckChecked">
        Wymagaj co najmniej jedną cyfrę
      </label>
    </div>
    <div class="d-flex justify-content-center align-items-center">
  </div>
  <div *ngIf="passwordComplexityError" class="alert alert-danger" role="alert">
    {{passwordComplexityError}}
  </div>
  <div *ngIf="passwordComplexityMessage" >
    {{passwordComplexityMessage}}
  </div>
  </form>
  <form *ngIf="currentUserRoleAdmin" class="mt-4" (submit)="changePasswordValidity()">
    <div class="input-group mb-3">
      <span class="input-group-text" id="passwordValidity">Ważność hasła użytkownika:</span>
      <input name="length" [(ngModel)]="passwordValidityForm.passwordValidity" type="number" min="1" value="1" class="form-control" aria-describedby="passwordValidity">
    </div>
    <div class="d-flex justify-content-center align-items-center">
    <button type="submit" class="btn btn-primary mx-auto">Zmień ważność hasła</button>
  </div>
  <div *ngIf="passwordValidityError" class="alert alert-danger" role="alert">
    {{passwordValidityError}}
  </div>
  <div *ngIf="lengthMessage" >
    {{lengthMessage}}
  </div>
  </form>
  <form *ngIf="currentUserRoleAdmin" class="mt-4" (submit)="changeMaximumNumberOfAttempts()">
    <div class="input-group mb-3">
      <span class="input-group-text" id="maximumNumberOfAttempts">Maksymalna liczba prób wpisania hasła:</span>
      <input name="length" [(ngModel)]="maximumNumberOfAttemptsForm.maximumNumberOfAttempts" type="number" min="1" value="1" class="form-control" aria-describedby="maximumNumberOfAttempts">
    </div>
    <div class="d-flex justify-content-center align-items-center">
    <button type="submit" class="btn btn-primary mx-auto">Zmień</button>
  </div>
  </form>
  <form *ngIf="currentUserRoleAdmin" class="mt-4" (submit)="changeUserSession()">
    <div class="input-group mb-3">
      <span class="input-group-text" id="userSession">Czas sesji uzytkownika:</span>
      <input name="length" [(ngModel)]="userSessionForm.userSession" type="number" min="1" value="1" class="form-control" aria-describedby="userSession">
    </div>
    <div class="d-flex justify-content-center align-items-center">
    <button type="submit" class="btn btn-primary mx-auto">Zmień</button>
  </div>
  </form>
<ng-template #loggedOut>
  Please login.
</ng-template>
