<div class="container" *ngIf="currentUserMail; else loggedOut">
  <header class="jumbotron">
    <h3>
      Profil <strong>{{ currentUserRole }}a</strong>
    </h3>
  </header>
  <p>
    <strong>Email:</strong>
    {{ currentUserMail }}
  </p>
  <strong>Przypisane role:</strong>
  <ul>
    <li>
      {{ currentUserRole }}
    </li>
  </ul>
</div>
<div>
  <button nz-button nzType="primary" [routerLink]="['/register']">Primary</button>
</div>
<ng-template #loggedOut>
  Please login.
</ng-template>
