<div class="col-md-12">
  <div class="card card-container">
    <img
      id="profile-img"
      src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"
      class="profile-img-card"
    />
    <form
      *ngIf="!isLoggedIn"
      name="form"
      (ngSubmit)="f.form.valid && onSubmit()"
      #f="ngForm"
      novalidate
    >
      <div class="form-group">
        <label for="email">Nazwa użytkownika</label>
        <input
          type="text"
          class="form-control"
          name="email"
          [(ngModel)]="form.email"
          required
          #email="ngModel"
        />
        <div
          class="alert alert-danger"
          role="alert"
          *ngIf="email.errors && f.submitted"
        >
          Nazwa użytkownika jest wymagana
        </div>
      </div>
      <div class="form-group">
        <label for="password">Hasło</label>
        <input
          type="password"
          class="form-control"
          name="password"
          [(ngModel)]="form.password"
          required
          minlength="14"
          containsUpperLetter="true"
          #password="ngModel"
        />
        <div
          class="alert alert-danger"
          role="alert"
          *ngIf="password.errors && f.submitted"
        >
          <div *ngIf="password.errors['required']">Hasło jest wymagane!</div>
          <div *ngIf="password.errors['minlength']">Hasło musi mieć co najmniej 14 znaków!</div>
          <div *ngIf="password.errors['containsUpperLetter']">Hasło musi zawierać co najmniej 1 dużą literę!</div>
        </div>
      </div>

       <div [hidden]="captcha">
        <re-captcha (resolved)="resolved($event)" siteKey="6Le83QojAAAAAPSORRCgKko6t7-Rfy3ZCfHiFGCj"></re-captcha>
       </div>
       <div [hidden]="!captcha">
        <div class="form-group">
          <button class="btn btn-primary btn-block">
            Logowanie
          </button>
        </div>
       </div>
      <div class="form-group">
        <div
          class="alert alert-danger"
          role="alert"
          *ngIf="f.submitted && isLoginFailed"
        >
          Logowanie nie powiodło się: {{ errorMessage }}
        </div>
      </div>
    </form>

    <div class="alert alert-success" *ngIf="isLoggedIn">
      Zalogowano jako {{ roles }}.
    </div>
  </div>
</div>
